body {
  margin: 0;
  display: grid;
  place-items: center;
  height: 100vh;
  color: rgb(255 255 255 / 90%);
  background: #606080;
  font-family: "Euclid Circular A", "Poppins";
}

h1 {
  position: fixed;
  top: 10px;
}

h2, header {  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

article {
  position: absolute;
  background: #494964;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  gap: 10px;
}

article header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 10px 0 20px;
  border-radius: 6px;
  background: #606080;
  color: #f8f8f8;
}

article header.active {
  background: #5c60ff;
}

article header.active span {
  rotate: -180deg;
}



article h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

article p {
  width: 390px;
  margin: 0;
  padding: 10px 0 0 10px;
  text-align: justify;
  line-height: 1.7;
  font-size: 14px;
  margin-bottom: 2px;
}

article span {
  transition: 0.3s;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform:  rotate(45deg);
}

article header ~ div {
  position: relative;
  height: 0;
  overflow: hidden;
}


